.midnight {
  --admonish-note-border-color: #728ddf;
  --admonish-note-icon-color: var(--admonish-note-border-color);
  --admonish-note-title-color-bg: rgba(114, 141, 223, .2); /* border color with opacity reduced */
  --admonish-abstract-border-color: #e8dba7;
  --admonish-abstract-icon-color: var(--admonish-abstract-border-color);
  --admonish-abstract-title-color-bg: rgba(232, 219, 167, .2);
  --admonish-info-border-color: #8ae4e8;
  --admonish-info-icon-color: var(--admonish-info-border-color);
  --admonish-info-title-color-bg: rgba(138, 228, 232, .2);
  --admonish-tip-border-color: #ddc1ff;
  --admonish-tip-icon-color: var(--admonish-tip-border-color);
  --admonish-tip-title-color-bg: rgba(221, 193, 255, .2);
  --admonish-success-border-color: #599745;
  --admonish-success-icon-color: var(--admonish-success-border-color);
  --admonish-success-title-color-bg: rgba(89, 151, 69, .2);
  --admonish-question-border-color: #add4a1;
  --admonish-question-icon-color: var(--admonish-question-border-color);
  --admonish-question-title-color-bg: rgba(173, 212, 161, .2);
  --admonish-warning-border-color: #cc7f18;
  --admonish-warning-icon-color: var(--admonish-warning-border-color);
  --admonish-warning-title-color-bg: rgba(204, 127, 24, .2);
  --admonish-failure-border-color: #f45c5c;
  --admonish-failure-icon-color: var(--admonish-failure-border-color);
  --admonish-failure-title-color-bg: rgba(244, 92, 92, .2);
  --admonish-danger-border-color: #f12c2c;
  --admonish-danger-icon-color: var(--admonish-danger-border-color);
  --admonish-danger-title-color-bg: rgba(241, 44, 44, .2);
  --admonish-bug-border-color: #ac0b0b;
  --admonish-bug-icon-color: var(--admonish-bug-border-color);
  --admonish-bug-title-color-bg: rgba(172, 11, 11, .2);
  --admonish-example-border-color: #c18eff;
  --admonish-example-icon-color: var(--admonish-example-border-color);
  --admonish-example-title-color-bg: rgba(193, 142, 255, .2);
  --admonish-quote-border-color: #9a969e;
  --admonish-quote-icon-color: var(--admonish-quote-border-color);
  --admonish-quote-title-color-bg: rgba(154, 150, 158, .2);
}

.midnight :is(.admonition) {
  background-color: var(--sidebar-bg);
}

.midnight :is(.admonition):is(.note) {
  border-color: var(--admonish-note-border-color);
}

.midnight :is(.note) > :is(.admonition-title, summary) {
  background-color: var(--admonish-note-title-color-bg);
}

.midnight :is(.note) > :is(.admonition-title, summary)::before {
  background-color: var(--admonish-note-icon-color);
  mask-image: var(--md-admonition-icon--note);
  -webkit-mask-image: var(--md-admonition-icon--note);
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
}

.midnight :is(.admonition):is(.abstract, .summary, .tldr) {
  border-color: var(--admonish-abstract-border-color);
}

.midnight :is(.abstract, .summary, .tldr) > :is(.admonition-title, summary) {
  background-color: var(--admonish-abstract-title-color-bg);
}

.midnight :is(.abstract, .summary, .tldr) > :is(.admonition-title, summary)::before {
  background-color: var(--admonish-abstract-icon-color);
  mask-image: var(--md-admonition-icon--abstract);
  -webkit-mask-image: var(--md-admonition-icon--abstract);
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
}

.midnight :is(.admonition):is(.info, .todo) {
  border-color: var(--admonish-info-border-color);
}

.midnight :is(.info, .todo) > :is(.admonition-title, summary) {
  background-color: var(--admonish-info-title-color-bg);
}

.midnight :is(.info, .todo) > :is(.admonition-title, summary)::before {
  background-color: var(--admonish-info-icon-color);
  mask-image: var(--md-admonition-icon--info);
  -webkit-mask-image: var(--md-admonition-icon--info);
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
}

.midnight :is(.admonition):is(.tip, .hint, .important) {
  border-color: var(--admonish-tip-border-color);
}

.midnight :is(.tip, .hint, .important) > :is(.admonition-title, summary) {
  background-color: var(--admonish-tip-title-color-bg);
}

.midnight :is(.tip, .hint, .important) > :is(.admonition-title, summary)::before {
  background-color: var(--admonish-tip-icon-color);
  mask-image: var(--md-admonition-icon--tip);
  -webkit-mask-image: var(--md-admonition-icon--tip);
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
}

.midnight :is(.admonition):is(.success, .check, .done) {
  border-color: var(--admonish-success-border-color);
}

.midnight :is(.success, .check, .done) > :is(.admonition-title, summary) {
  background-color: var(--admonish-success-title-color-bg);
}

.midnight :is(.success, .check, .done) > :is(.admonition-title, summary)::before {
  background-color: var(--admonish-success-icon-color);
  mask-image: var(--md-admonition-icon--success);
  -webkit-mask-image: var(--md-admonition-icon--success);
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
}

.midnight :is(.admonition):is(.question, .help, .faq) {
  border-color: var(--admonish-question-border-color);
}

.midnight :is(.question, .help, .faq) > :is(.admonition-title, summary) {
  background-color: var(--admonish-question-title-color-bg);
}

.midnight :is(.question, .help, .faq) > :is(.admonition-title, summary)::before {
  background-color: var(--admonish-question-icon-color);
  mask-image: var(--md-admonition-icon--question);
  -webkit-mask-image: var(--md-admonition-icon--question);
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
}

.midnight :is(.admonition):is(.warning, .caution, .attention) {
  border-color: var(--admonish-warning-border-color);
}

.midnight :is(.warning, .caution, .attention) > :is(.admonition-title, summary) {
  background-color: var(--admonish-warning-title-color-bg);
}

.midnight :is(.warning, .caution, .attention) > :is(.admonition-title, summary)::before {
  background-color: var(--admonish-warning-icon-color);
  mask-image: var(--md-admonition-icon--warning);
  -webkit-mask-image: var(--md-admonition-icon--warning);
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
}

.midnight :is(.admonition):is(.failure, .fail, .missing) {
  border-color: var(--admonish-failure-border-color);
}

.midnight :is(.failure, .fail, .missing) > :is(.admonition-title, summary) {
  background-color: var(--admonish-failure-title-color-bg);
}

.midnight :is(.failure, .fail, .missing) > :is(.admonition-title, summary)::before {
  background-color: var(--admonish-failure-icon-color);
  mask-image: var(--md-admonition-icon--failure);
  -webkit-mask-image: var(--md-admonition-icon--failure);
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
}

.midnight :is(.admonition):is(.danger, .error) {
  border-color: var(--admonish-danger-border-color);
}

.midnight :is(.danger, .error) > :is(.admonition-title, summary) {
  background-color: var(--admonish-danger-title-color-bg);
}

.midnight :is(.danger, .error) > :is(.admonition-title, summary)::before {
  background-color: var(--admonish-danger-icon-color);
  mask-image: var(--md-admonition-icon--danger);
  -webkit-mask-image: var(--md-admonition-icon--danger);
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
}

.midnight :is(.admonition):is(.bug) {
  border-color: var(--admonish-bug-border-color);
}

.midnight :is(.bug) > :is(.admonition-title, summary) {
  background-color: var(--admonish-bug-title-color-bg);
}

.midnight :is(.bug) > :is(.admonition-title, summary)::before {
  background-color: var(--admonish-bug-icon-color);
  mask-image: var(--md-admonition-icon--bug);
  -webkit-mask-image: var(--md-admonition-icon--bug);
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
}

.midnight :is(.admonition):is(.example) {
  border-color: var(--admonish-example-border-color);
}

.midnight :is(.example) > :is(.admonition-title, summary) {
  background-color: var(--admonish-example-title-color-bg);
}

.midnight :is(.example) > :is(.admonition-title, summary)::before {
  background-color: var(--admonish-example-icon-color);
  mask-image: var(--md-admonition-icon--example);
  -webkit-mask-image: var(--md-admonition-icon--example);
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
}

.midnight :is(.admonition):is(.quote, .cite) {
  border-color: var(--admonish-quote-border-color);
}

.midnight :is(.quote, .cite) > :is(.admonition-title, summary) {
  background-color: var(--admonish-quote-title-color-bg);
}

.midnight :is(.quote, .cite) > :is(.admonition-title, summary)::before {
  background-color: var(--admonish-question-icon-color);
  mask-image: var(--md-admonition-icon--quote);
  -webkit-mask-image: var(--md-admonition-icon--quote);
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
}
