/* Globals */

:root {
  --sidebar-width: 300px;
  --page-padding: 15px;
  --content-max-width: 1050px;
  --menu-bar-height: 50px;
}

/* Themes */

.midnight {
  --bg: #2e2b30;
  --fg: #d2ced6;

  --sidebar-bg: #201e22;
  --sidebar-fg: var(--fg);
  --sidebar-non-existant: #67636b;
  --sidebar-active: #ecaf5e;
  --sidebar-hover-fg: var(--fg);
  --sidebar-hover-bg: #213f96;
  --sidebar-spacer: var(--sidebar-non-existant);

  --scrollbar: var(--sidebar-non-existant);

  --icons: var(--sidebar-non-existant);
  --icons-hover: var(--sidebar-hover-bg);
  --icons-hover-fg: var(--fg);

  --links: #486cd6;

  --inline-code-color: #25afb5;

  --theme-popup-bg: var(--bg);
  --theme-popup-border: #817c85;
  --theme-hover: var(--sidebar-hover-bg);

  --quote-bg: #201e22;
  --quote-border: #ecaf5e;

  --table-border-color: #48434b;
  --table-header-bg: var(--table-border-color);
  --table-alternate-bg: #201e22;

  --searchbar-border-color: var(--theme-popup-border);
  --searchbar-bg: #48434b;
  --searchbar-fg: var(--fg);
  --searchbar-placeholder-fg: var(--theme-popup-border);
  --searchbar-shadow-color: var(--fg);
  --searchresults-header-fg: var(--quote-border);
  --searchresults-border-color: var(--quote-border);
  --searchresults-li-bg: var(--bg);
  --search-mark-bg: var(--bg);
}

@media (prefers-color-scheme: dark) {
  .light.no-js {
    --bg: hsl(200, 7%, 8%);
    --fg: #98a3ad;

    --sidebar-bg: #292c2f;
    --sidebar-fg: #a1adb8;
    --sidebar-non-existant: #505254;
    --sidebar-active: #3473ad;
    --sidebar-spacer: #393939;

    --scrollbar: var(--sidebar-fg);

    --icons: #43484d;
    --icons-hover: #b3c0cc;

    --links: #2b79a2;

    --inline-code-color: #c5c8c6;

    --theme-popup-bg: #141617;
    --theme-popup-border: #43484d;
    --theme-hover: #1f2124;

    --quote-bg: hsl(234, 21%, 18%);
    --quote-border: hsl(234, 21%, 23%);

    --table-border-color: hsl(200, 7%, 13%);
    --table-header-bg: hsl(200, 7%, 28%);
    --table-alternate-bg: hsl(200, 7%, 11%);

    --searchbar-border-color: #aaa;
    --searchbar-bg: #b7b7b7;
    --searchbar-fg: #000;
    --searchbar-shadow-color: #aaa;
    --searchresults-header-fg: #666;
    --searchresults-border-color: #98a3ad;
    --searchresults-li-bg: #2b2b2f;
    --search-mark-bg: #355c7d;
  }
}
