/* https://gitlab.com/midnight-theme/highlightjs/-/blob/dff304611ff62b3a9fc257a1c936823cdba231c6/midnight.css */
pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}

.hljs {
  color: #d2ced6;
  background-color: #201e22;
}

.hljs-keyword,
.hljs-type,
.hljs-literal,
.hljs-subst,
.hljs-symbol,
.hljs-variable.language_,
.hljs-name {
  color: #ecaf5e;
}

.hljs-variable.constant_,
.hljs-section,
.hljs-attr,
.hljs-template-variable {
  color: #c18eff;
}

.hljs-number {
  color: #e679c2;
}

.hljs-operator,
.hljs-punctuation,
.hljs-property,
.hljs-variable,
.hljs-title,
.hljs-params,
.hljs-tag,
.hljs-bullet,
.hljs-formula,
.hljs-attribute {
  color: #d2ced6;
}

.hljs-regexp,
.hljs-template-tag {
  background-color: #2e2b30;
}

.hljs-string,
.hljs-meta .hljs-string,
.hljs-quote {
  color: #8fc47e;
}

.hljs-char.escape_ {
  color: #eea4d6;
}

.hljs-built_in,
.hljs-title.function_,
.hljs-meta,
.hljs-selector-tag,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #deca7e;
}

.hljs-title.class_.inherited__ {
  color: #60dadf;
}

.hljs-comment {
  color: #817c85;
}

.hljs-doctag {
  color: #817c85;
  font-weight: bold;
}

.hljs-code {
  color: #25afb5;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  color: #486cd6;
  text-decoration: underline;
}

.hljs-addition {
  background-color: #263223;
}

.hljs-deletion {
  background-color: #302d32;
}
