<!DOCTYPE HTML>
<html lang="{{ language }}" class="sidebar-visible no-js {{ default_theme }}">
  <head>
    <!-- Book generated using mdBook -->
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    {{#if is_print }}
      <meta name="robots" content="noindex"/>
    {{/if}}
    {{#if base_url}}
      <base href="{{ base_url }}">
    {{/if}}

    <!-- Custom HTML head -->
    {{> head}}

    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta name="description" content="{{ description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#ffffff"/>

    {{#if favicon_svg}}
      <link rel="icon" href="{{ path_to_root }}favicon.svg">
    {{/if}}
    {{#if favicon_png}}
      <link rel="shortcut icon" href="{{ path_to_root }}favicon.png">
    {{/if}}
    <link rel="stylesheet" href="{{ path_to_root }}css/variables.css">
    <link rel="stylesheet" href="{{ path_to_root }}css/general.css">
    <link rel="stylesheet" href="{{ path_to_root }}css/chrome.css">
    {{#if print_enable}}
      <link rel="stylesheet" href="{{ path_to_root }}css/print.css" media="print">
    {{/if}}

    <!-- Fonts -->
    <link rel="stylesheet" href="{{ path_to_root }}FontAwesome/css/font-awesome.css">
    {{#if copy_fonts}}
      <link rel="stylesheet" href="{{ path_to_root }}fonts/fonts.css">
    {{/if}}

    <!-- Highlight.js Stylesheets -->
    <link rel="stylesheet" href="{{ path_to_root }}highlight.css">

    <!-- Custom theme stylesheets -->
    {{#each additional_css}}
      <link rel="stylesheet" href="{{ ../path_to_root }}{{ this }}">
    {{/each}}

    {{#if mathjax_support}}
      <!-- MathJax -->
      <script async type="text/javascript"
              src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    {{/if}}
  </head>
  <body>
    <!-- Provide site root to javascript -->
    <script type="text/javascript">
      var path_to_root = "{{ path_to_root }}";
      var default_theme = window.matchMedia('(prefers-color-scheme: dark)').matches ? "{{ preferred_dark_theme }}" : "{{ default_theme }}";
    </script>

    <!-- Work around some values being stored in localStorage wrapped in quotes -->
    <script type="text/javascript">
      try {
        var theme = localStorage.getItem('mdbook-theme');
        var sidebar = localStorage.getItem('mdbook-sidebar');

        if (theme.startsWith('"') && theme.endsWith('"')) {
          localStorage.setItem('mdbook-theme', theme.slice(1, theme.length - 1));
        }

        if (sidebar.startsWith('"') && sidebar.endsWith('"')) {
          localStorage.setItem('mdbook-sidebar', sidebar.slice(1, sidebar.length - 1));
        }
      } catch (e) {
      }
    </script>

    <!-- Set the theme before any content is loaded, prevents flash -->
    <script type="text/javascript">
      var theme;
      try {
        theme = localStorage.getItem('mdbook-theme');
      } catch (e) {
      }
      if (theme === null || theme === undefined) {
        theme = default_theme;
      }
      var html = document.querySelector('html');
      html.classList.remove('no-js');
      html.classList.remove('{{ default_theme }}');
      html.classList.add(theme);
      html.classList.add('js');
    </script>

    <!-- Hide / unhide sidebar before it is displayed -->
    <script type="text/javascript">
      var html = document.querySelector('html');
      var sidebar = 'hidden';
      if (document.body.clientWidth >= 1080) {
        try {
          sidebar = localStorage.getItem('mdbook-sidebar');
        } catch (e) {
        }
        sidebar = sidebar || 'visible';
      }
      html.classList.remove('sidebar-visible');
      html.classList.add('sidebar-' + sidebar);
    </script>

    <nav id="sidebar" class="sidebar" aria-label="Table of contents">
      <div class="sidebar-scrollbox">
        {{#toc}}{{/toc}}
      </div>
      <div id="sidebar-resize-handle" class="sidebar-resize-handle"></div>
    </nav>

    <div id="page-wrapper" class="page-wrapper">

      <div class="page">
        {{> header}}
        <div id="menu-bar-hover-placeholder"></div>
        <div id="menu-bar" class="menu-bar sticky bordered">
          <div class="left-buttons">
            <button id="sidebar-toggle" class="icon-button" type="button" title="Toggle Table of Contents"
                    aria-label="Toggle Table of Contents" aria-controls="sidebar">
              <i class="fa fa-bars"></i>
            </button>
            <button id="theme-toggle" class="icon-button" type="button" title="Change theme" aria-label="Change theme"
                    aria-haspopup="true" aria-expanded="false" aria-controls="theme-list">
              <i class="fa fa-paint-brush"></i>
            </button>
            <ul id="theme-list" class="theme-popup" aria-label="Themes" role="menu">
              <li role="none">
                <button role="menuitem" class="theme" id="midnight">{{ theme_option "Midnight" }}</button>
              </li>
            </ul>
            {{#if search_enabled}}
              <button id="search-toggle" class="icon-button" type="button" title="Search. (Shortkey: s)"
                      aria-label="Toggle Searchbar" aria-expanded="false" aria-keyshortcuts="S"
                      aria-controls="searchbar">
                <i class="fa fa-search"></i>
              </button>
            {{/if}}
          </div>

          <h1 class="menu-title">{{ book_title }}</h1>

          <div class="right-buttons">
            {{#if print_enable}}
              <a href="{{ path_to_root }}print.html" title="Print this book" aria-label="Print this book">
                <i id="print-button" class="fa fa-print"></i>
              </a>
            {{/if}}
            {{#if git_repository_url}}
              <a href="{{git_repository_url}}" title="Git repository" aria-label="Git repository">
                <i id="git-repository-button" class="fa {{git_repository_icon}}"></i>
              </a>
            {{/if}}
            {{#if git_repository_edit_url}}
              <a href="{{git_repository_edit_url}}" title="Suggest an edit" aria-label="Suggest an edit">
                <i id="git-edit-button" class="fa fa-edit"></i>
              </a>
            {{/if}}

          </div>
        </div>

        {{#if search_enabled}}
          <div id="search-wrapper" class="hidden">
            <form id="searchbar-outer" class="searchbar-outer">
              <input type="search" id="searchbar" name="searchbar" placeholder="Search this book ..."
                     aria-controls="searchresults-outer" aria-describedby="searchresults-header">
            </form>
            <div id="searchresults-outer" class="searchresults-outer hidden">
              <div id="searchresults-header" class="searchresults-header"></div>
              <ul id="searchresults">
              </ul>
            </div>
          </div>
        {{/if}}

        <!-- Apply ARIA attributes after the sidebar and the sidebar toggle button are added to the DOM -->
        <script type="text/javascript">
          document.getElementById('sidebar-toggle').setAttribute('aria-expanded', sidebar === 'visible');
          document.getElementById('sidebar').setAttribute('aria-hidden', sidebar !== 'visible');
          Array.from(document.querySelectorAll('#sidebar a')).forEach(function (link) {
            link.setAttribute('tabIndex', sidebar === 'visible' ? 0 : -1);
          });
        </script>

        <div id="content" class="content">
          <main>
            {{{ content }}}
          </main>

          <nav class="nav-wrapper" aria-label="Page navigation">
            <!-- Mobile navigation buttons -->
            {{#previous}}
              <a rel="prev" href="{{ path_to_root }}{{link}}" class="mobile-nav-chapters previous"
                 title="Previous chapter" aria-label="Previous chapter" aria-keyshortcuts="Left">
                <i class="fa fa-angle-left"></i>
              </a>
            {{/previous}}

            {{#next}}
              <a rel="next" href="{{ path_to_root }}{{link}}" class="mobile-nav-chapters next" title="Next chapter"
                 aria-label="Next chapter" aria-keyshortcuts="Right">
                <i class="fa fa-angle-right"></i>
              </a>
            {{/next}}

            <div style="clear: both"></div>
          </nav>
        </div>
      </div>

      <nav class="nav-wide-wrapper" aria-label="Page navigation">
        {{#previous}}
          <a rel="prev" href="{{ path_to_root }}{{link}}" class="nav-chapters previous" title="Previous chapter"
             aria-label="Previous chapter" aria-keyshortcuts="Left">
            <i class="fa fa-angle-left"></i>
          </a>
        {{/previous}}

        {{#next}}
          <a rel="next" href="{{ path_to_root }}{{link}}" class="nav-chapters next" title="Next chapter"
             aria-label="Next chapter" aria-keyshortcuts="Right">
            <i class="fa fa-angle-right"></i>
          </a>
        {{/next}}
      </nav>

    </div>

    {{#if live_reload_endpoint}}
      <!-- Livereload script (if served using the cli tool) -->
      <script type="text/javascript">
        const wsProtocol = location.protocol === 'https:' ? 'wss:' : 'ws:';
        const wsAddress = wsProtocol + '//' + location.host + '/' + "{{{live_reload_endpoint}}}";
        const socket = new WebSocket(wsAddress);
        socket.onmessage = function (event) {
          if (event.data === 'reload') {
            socket.close();
            location.reload();
          }
        };

        window.onbeforeunload = function () {
          socket.close();
        };
      </script>
    {{/if}}

    {{#if google_analytics}}
      <!-- Google Analytics Tag -->
      <script type="text/javascript">
        var localAddrs = ['localhost', '127.0.0.1', ''];

        // make sure we don't activate google analytics if the developer is
        // inspecting the book locally...
        if (localAddrs.indexOf(document.location.hostname) === -1) {
          (
              function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                  (
                      i[r].q = i[r].q || []
                  ).push(arguments);
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m);
              }
          )(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

          ga('create', '{{google_analytics}}', 'auto');
          ga('send', 'pageview');
        }
      </script>
    {{/if}}

    {{#if playground_line_numbers}}
      <script type="text/javascript">
        window.playground_line_numbers = true;
      </script>
    {{/if}}

    {{#if playground_copyable}}
      <script type="text/javascript">
        window.playground_copyable = true;
      </script>
    {{/if}}

    {{#if playground_js}}
      <script src="{{ path_to_root }}ace.js" type="text/javascript" charset="utf-8"></script>
      <script src="{{ path_to_root }}editor.js" type="text/javascript" charset="utf-8"></script>
      <script src="{{ path_to_root }}mode-rust.js" type="text/javascript" charset="utf-8"></script>
      <script src="{{ path_to_root }}theme-dawn.js" type="text/javascript" charset="utf-8"></script>
      <script src="{{ path_to_root }}theme-tomorrow_night.js" type="text/javascript" charset="utf-8"></script>
    {{/if}}

    {{#if search_js}}
      <script src="{{ path_to_root }}elasticlunr.min.js" type="text/javascript" charset="utf-8"></script>
      <script src="{{ path_to_root }}mark.min.js" type="text/javascript" charset="utf-8"></script>
      <script src="{{ path_to_root }}searcher.js" type="text/javascript" charset="utf-8"></script>
    {{/if}}

    <script src="{{ path_to_root }}clipboard.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ path_to_root }}highlight.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ path_to_root }}book.js" type="text/javascript" charset="utf-8"></script>

    <!-- Custom JS scripts -->
    {{#each additional_js}}
      <script type="text/javascript" src="{{ ../path_to_root }}{{this}}"></script>
    {{/each}}

    {{#if is_print}}
      {{#if mathjax_support}}
        <script type="text/javascript">
          window.addEventListener('load', function () {
            MathJax.Hub.Register.StartupHook('End', function () {
              window.setTimeout(window.print, 100);
            });
          });
        </script>
      {{else}}
        <script type="text/javascript">
          window.addEventListener('load', function () {
            window.setTimeout(window.print, 100);
          });
        </script>
      {{/if}}
    {{/if}}

  </body>
</html>
